<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Planet
  link(href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700' rel='stylesheet' type='text/css')
  link(rel="stylesheet", href="index.css")

body
  h1 Planet
  .artboard
    .borde-1
    .borde-2
    .borde-3
    .borde-4

    .planet
      .line
      .crater.crater-1
      .crater.crater-2
      .crater.crater-3
      .crater.crater-4
      .crater.crater-5
      .crater.crater-6
      .crater.crater-7
      .crater.crater-8

      .planet-shadow
      

    .ring-1
    .ring-2

    .luna1
    .luna2

    .stars
      .star1.small.pulse
      .star2.med.yellow
      .star3.med.yellow
      .star4.small.pulse
      .star5.small.yellow
      .star6
      .star7.small.pulse-2
      .star8.yellow
      .star9.pulse
      .star10.med.blue
      .star11.med.yellow
      .star12.small.blue.pulse-2
      .star13.small
      .star14.small.blue
      .star15.small.pulse-3
      .star16.small.yellow.pulse-2
      .star17.small.yellow
      .star18.small
      .star19.med.yellow.pulse-2
      .star20.small
      .star21.med.blue
      .star22.yellow
      .star23.small.yellow.pulse
      .star24.small.yellow.pulse-2
      .star25.blue.pulse-3
      .star26.med
      .star27.med
      .star28.med.blue
      .star29.yellow
      .star30.med.pulse-3
      .star31.blue
      .star32.small
      .star33.small.blue
      .star34.med.pulse-2
      .star35.yellow.pulse
      .star36.med.blue
      .star37.med.blue.pulse-2
      .star38.med.pulse-1
      .star39.small.pulse-3

.credit.
  Original Illustration  by <a href="https://dribbble.com/shots/2444804-Best-icons-of-the-week">Justas Galaburda</a> &nbsp;&nbsp;&middot;&nbsp;&nbsp; Animation by <a href="www.twitter.com/yeion7">Yeison Daza</a>

