<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  link(rel="stylesheet", href="index.css")
body
  h1 BB-8 Start Wars

  .artboard

    .bb8
      .bb8-body

        .dot.dot-1
          .line.line-1
          .line.line-2
          .line.line-3
        .dot.dot-2

        .circle.circle-1
        .circle.circle-2
        .circle.circle-3

      .body-shadow-crop
        .body-shadow

      .bb8-head
        .head-bottom
          .head-side-1
          .head-side-2
          .head-bottom-base

        .head-top-crop
          .head-top

        .lens
        .freckle
      .speedlines
        .one.tail
        .two.tail
        .three
        .four
        .five.tail
      
      .sparkles
        .one.small.pulse-1
        .two.blue.small.pulse-2
        .three.blue.med.pulse-3
        .four.orange.pulse-2
        .five.orange.pulse-1
        .six.blue.small.pulse
        .seven.blue.small.pulse
        .eight.small.pulse-3
        .nine.pulse
        .ten.orange.small-1.pulse
        .eleven.small.pulse
        .twelve.small.pulse-2
        .thirteen.orange.small.pulse
        .fourteen.orange.med.pulse-3
        .fifteen.small.pulse-1
        .sixteen.small.pulse
      .ground
        .one
          .bump.move-1
        .two
        .three
          .bump.move-2
        .four
          .bump
        .five
        .six
          .bump.move-2
        .seven
          .bump
        .eight
          .bump.move-1





  
